services:
  mongo:
    image: mongo:6
    container_name: mern_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: mern_backend
    ports:
      - "5002:5002"
    environment:
      - MONGO_URI=mongodb://mongo:27017/mern_notes
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: mern_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data:
